{{!-- <div class="card">
    <div class="card-header">
        <img src="{{path}}assets/images/dashboard/{{vehiclesImage}}" class="img-fluid w-25" alt="img8">
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <span class="text-primary">{{vehiclesData}}</span>
            <div>
                {{#if @partial-block}}
                {{> @partial-block }}
                {{else}}
                    {{#for 6}}
                        {{#compare ../rating '>=' this}}
                            {{> partials/components/ratings fill="true" }}
                        {{else}}
                            {{> partials/components/ratings }}
                        {{/compare}}
                    {{/for}}
                {{/if}}
            </div>
        </div>
        <h6 class="border-bottom">{{vehiclesName}}</h6>                           
        <div class="d-flex justify-content-between align-items-center ms-1">
            <span>{{vehiclesPrice}}</span>
            <h6 class="ms-1">{{vehiclesAmount}}</h6>                        
        </div>
    </div>
</div> --}}
<div class="iq-upcoming-cars">
    <img src="{{path}}assets/images/dashboard/{{vehiclesImage}}" class="img-fluid w-100" alt="img8">
    <div class="iq-car-details">
        <h6 class="text-primary">{{vehiclesData}}</h6>
        <div class="d-flex justify-content-end">
            {{#if @partial-block}}
            {{> @partial-block }}
            {{else}}
                {{#for 6}}
                    {{#compare ../rating '>=' this}}
                        {{> partials/components/ratings fill="true" }}
                    {{else}}
                        {{> partials/components/ratings }}
                    {{/compare}}
                {{/for}}
            {{/if}}
        </div>
    </div>
    <div class="iq-car-name">
        <h6>{{vehiclesName}}</h6>
    </div>
    <div class="iq-car-price d-flex justify-content-between align-items-center">
        <span>Price</span>
        <h6>{{vehiclesAmount}}</h6>                        
    </div>
</div>